html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    padding: 20px 8%;
    background-color: #050505;
    border-bottom: 2px solid #00ff88;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.logo span {
    color: #00ff88;
}

.menu ul {
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: 18       px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover {
    color: #00ff88;
}

.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.8)),
    url(../src/hero.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 150px;
}

.hero-conteudo {
    max-width: 660px;
}

.hero h1 {
    font-size: 62px;
    margin-bottom: 30px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 40px;
    color: #dddddd;
}

.botao {
    display: inline-block;
    padding: 20px 32px;
    border-radius: 30px;
    box-shadow: 2px solid #00ff88;
    background-color: #00ff88;
    color: black;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    transition: 0.3s;
}

.botao:hover {
    background-color: #7a7a7a;
    transform: scale(1.05);
}

section {
    padding: 80px 8%;
}

section h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    color: #cccccc;
}

.sobre {
    background-color: black;
}

.beneficio {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.beneficio {
    background-color: #222;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #222;
    width: 100%;
    transition: 0.3s;
}

.beneficio:hover {
    border-color: #00ff88;
    transform: translateY(-8px);
}

.beneficio h3 {
    color: #00ff88;
    margin-bottom: 15px;
}

.beneficio p {
    color: #00ff88;
    line-height: 1.6;
}